html{
    margin: 0;
    padding: 0;
    background-color: #50546c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    color: rgb(255, 238, 255);
}
form{
    border : 1px solid #50546C;
    box-shadow : 5px 3px 3px #AAA;
    padding: 1em;
    background-color: rgb(255, 238, 255);
    border-radius: 7px;
    color: #50546C;
}
.renseignement{
    border: 1px solid #50546C;
}
#textArea {
    width : 100%;
}

textarea[name="corpsMessage"], [name="partPeau"]{
    width : 100%;
    border: 1px solid #50546C;
}

input[type="submit"]{
    padding : 1em;
    margin : 0 2em;
    font-weight: bold;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: #aaa;
    box-shadow: 2px 2px 3px #bbb;
}
.formButton{
    text-align: center;
}

p>a{
    color: #000;
    text-decoration: none;
}
p>a:hover {
    color: #bbb;
}
#retour{
    padding: 2em;
    text-align: right;
}
