/* GENERAL */
html{
    margin: 0;
    padding: 0;
    background-color: #50546c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

/* HEADER */
header{
    display: flex;
    

}
/* Appli Chloé */
#logoAppli{
    flex: 3;
    color: rgb(255, 238, 255);
    font-size: 1.5em;
}
#logoAppli a{
    text-decoration: none;
}
#logoAppli a:visited{
    text-decoration: none;
    color: rgb(255, 238, 255);
}
/* menu */
menu{
    display: flex;
    flex: 1;
}
@media(max-width:664px){
    #nomUser{
        order:2;
    }
    #logUser{
        order:1;
    }
}
#nomUser{
    align-items: flex-start;
    order:1;
}
#logoUser{
    width: 2em;
    height : 2em;
    order:2;
}

/* MAIN ACCUEIL */
a.buttonStyle{
    text-decoration: none;
    color: #50546c;
    box-shadow: rgb(97, 96, 97) 0.1em 0.2em;
    margin: 2em;
    padding: 1.5em 3em;
    background-color: rgb(255, 238, 255);
    border: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
a.buttonStyle:hover{
    background-color: #f192e5;
    box-shadow: rgb(214, 212, 212) 0.1em 0.2em;
}
main {
    display: flex;
    /*justify-content: space-around; ne marche pas !*/
    flex-wrap: wrap;
    /*flex-direction: column;*/
}
@media(max-width:664px){
    main{
        flex-direction: column;
        /*justify-content: space-around; ne fonctionne pas! */

    }
    .buttonStyle{
        /*flex-basis: 50%; ne fonctionne pas! */
        /*width: 50%; enlevé car reste à gauche et je ne trouve pas comment le centrer*/
        /*justify-content: space-around; ne fonctionne pas! */

    }
}


/* MAIN CLIENTELE */
.delete{
    text-align: center;
    color: rgb(255, 238, 255);
}
#mainClients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(255, 238, 255);
    padding-bottom: 2em;
    padding-left: 1em;
    margin: 2em 0;
    border-radius: 7px;
}
#titreBdd{
    order:1;
    text-align: center;
}
#boutonsBdd{
    order:2;
    flex-wrap: wrap; 
    text-align: center;
    margin-bottom: 1em;
}
#plus{
    flex:1;
    width: 15%;
}
#dl{
    flex:1;
    width: 15%;
}

#rechClient{
    order: 3;
    margin-bottom: 1em;
}
.barreRech{
    border: 1px solid #50546C;
    border-radius: 3px;
}
#listeClient{
    order: 4;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#lienFC{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #50546C;
}
#col1, #col2, #col3{
    flex-grow: 1;
    width: 33%;
    text-align: left;
    flex-wrap:wrap;
}
@media(max-width:400px){
    #col1, #col2{
        width:50%
    }
    #col3{
        display: none;
    }
}

/* MAIN FICHE CLIENT */
.infoPersoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoPersoContainer a {
    text-align: center;
}

.infoPersoContainer h1 {
    margin: 0;
}

#mainFC{
    display: flex;
    flex-direction: column;
}
section{
    background-color: rgb(255, 238, 255);
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 7px;
}
.boldy{
    font-weight: bold; 
}

.adresse{
    text-align: center;
}
#btnModif{
    width:12%;
    text-align: right;
}
#nom{
    order: 1;
}
#infosPerso{
    order:2;
}
#forfait{
    order:3;
}
#visites{
    order:4;
}
#messRecus{
    order:5;
}
.infosMail{
    margin: 0 2em;
}
.btnRetourn{
    margin: 1em;
    text-align: right;
}
.retour img{
    width: 15%;
}
#btnSupprimer{
    margin : 2em;
    text-align: center;
}
#supprimer {
    width : 15%;
}

/* MAIN SUPPRIMER CLIENT */

#section1{
    order: 1;
    width: 100%;
}
#section2{
    order: 2;
    width: 100%;
}
#section3{
    order: 3;
    text-align: center;
    width: 100%;
}
/* MAIN MESSAGERIE*/

#mainMessagerie {
    display: block;
}

#mainMessagerie .boutons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#accueil{
    justify-content: center;
}
#mainMessagerie h1{
    color: rgb(255, 238, 255);
}
.messages{
    background-color: rgb(255, 238, 255);
}

/*#mainMessagerie{
    display: flex;
    text-align: center;
    
    flex-direction: column;
}

.boutons{
    flex-direction: column;
    justify-content: space-between;
   /* flex-wrap: wrap;
}
h2{
    margin-top: 2em;
    text-align: left;
}
#messages{
    justify-content: space-between;
    margin-top: 0.5em;
    text-align: left;
}
#mail, #texto{
    margin: 2em;
    flex-wrap: wrap;
}
#mail{
    order : 1;
}
#texto{
    order: 2;
}

@media(max-width:664px){
    main #messagerie{
        flex-direction: column;
        /*justify-content: space-around; ne fonctionne pas! 

    }
    .buttonStyle{
        /*flex-basis: 50%; ne fonctionne pas! */
        /*width: 50%; enlevé car reste à gauche et je ne trouve pas comment le centrer*/
        /*justify-content: space-around; ne fonctionne pas! 

    }
}*/

/* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    vertical-align: bottom;
    margin-top : 5em;
    font-style: italic;
}
#copyright{
    /* je voudrais le fixer en bas je n'y arrive pas*/
    /*align-items: flex-end; ne fonctionne pas*/
}

